﻿body {
    background-color: #ffe0b3;
}

.container {
    width: 90%;
    margin: auto;
}

.row {
    width: 100%;
    clear: both;
}

.one {
    width: 25%;
    float: left;
}

.two {
    width: 50%;
    float: left;
}

#canvas {
    background-color: green;
}
